@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');

body {
  /*min-height: 100%;*/
  margin: 0 auto;
  font-family: sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
.container {
	width: 70%;
	margin: 0 auto;
}

a {
  outline: 0;
}
/*NAV ///////////////////////////////////////////*/
#nav {
  /*position: absolute;*/
  top: 0;
  right: 0;
  left: 0;
  /*bottom: 0;*/
  position: fixed;
  z-index: 2;

}
/*BURGER MENU ////////////////////////////////////*/
#nav-icon3 {
  width: 30px;
  height: 18px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#nav-icon3 span{
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #373737;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 9px;
}

#nav-icon3 span:nth-child(4) {
  top: 18px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/*MENU /////////////////////////////////////*/
#menu {
  background-color: grey;
  display: flex;
  justify-content: center;
}


#menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 80%;
  text-transform: uppercase;
  font-size: 0.8em;

}

#menu ul li {
  flex: 1;
  line-height: 50px;
  list-style: none;
  text-align: center;
}

#menu ul li a {
  text-decoration: none;
  color: white;
}

#menu ul li a:hover {
  color: #00ADB5;
}

/*HEADER ////////////////////////////////////*/
header {
	background-image: url("../images/2000px_background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: soft-light;
	background-color: #393E46;
	background-attachment: fixed;
	text-align: center;
	color: white
}
/*--------------------------*/
.titre {
	padding: 10% 0;
}

.titre img {
	width: 30%;
	color: #00FFF5;
}


.titre h1 {
	color: white;
	font-size: 1em;
	font-weight: normal;
	margin-bottom: 2%;
}
/*--------------------------*/
.downloadcv {
	margin-bottom: 1%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.cv_left, .cv_right {
	text-align: right;
	width: 40%;
}

.cv_left img {
	width: 8%;
}

.cv_center {
	display: flex;
	justify-content: center;
	align-self: flex-end;
	width: 20%;
}

.border {
	width: 80%;
	border: solid #00FFF5 2px;
	padding: 8px;
}

.downloadcv a {
	text-decoration: none;
	color: #00FFF5;
}


.cv_left p, .suivre div p {
	font-family: 'Shadows Into Light Two', cursive;
	color: #A8D8EA;
}

/*ANIMATION*/
.cv_left p, .cv_left img {
	 animation-duration: 3s;
  	animation-name: slideleft;
}


@keyframes slideleft {
  from {
    margin-right: 50%;
  }

  to {
   margin-right: 0;
  }
}
/*-----*/
/*--------------------------*/
.suivre {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.suivre_right, .suivre_left {
	width: 40%;
}

.social_icon {
	align-self: flex-end;
	width: 20%;
}

.suivre_right {
	text-align: left;
}

.suivre_right img {
	width: 8%;
	transform: scaleX(-1);
	/*transformation pour différents navigateur*/
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.suivre a {
	padding: 0 5%;
	color: white;
}

.social_icon a img {
	width: 26px;
	height: 26px;
}
/*ANIMATION TAILLE LOGOS*/
.social_icon i, .social_icon img {
	transition: transform 1s;
}

.social_icon i:hover, .social_icon img:hover {
	transform: scale(2);
}
/*-----*/
/*ANIMATION*/
.suivre_right p, .arrow {
	 animation-duration: 3s;
  	animation-name: slideright;
}


@keyframes slideright {
  from {
    margin-left: 50%;
  }

  to {
   margin-left: 0;
  }
}
/*-----*/
.down {
	/*height: 100px;
	width: 100px;*/
padding-bottom: 10%;
 }

.down a {
	cursor: pointer;
	color: white;
}

.downlink {
  display: block;
  width: 50px;
  height: 50px;
}

/*PRESENTATION ////////////////////////////////*/
#presentation {
	padding: 10% 0;
	text-align: justify;
}

#presentation p {
	line-height: 1.5em;
	margin: 0;
}

#presentation a {
	color: #00ADB5;
	text-decoration: none;
	border-left: solid 3px #00ADB5;
	padding-left: 5px;
	margin-top: 10px;
}

#presentation .presentation_col {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

#presentation .col1, #presentation .col2 {
	display: flex;
	flex-direction: column;
	width: 40%;
}
#presentation .col1 p, #presentation .col1 img, #presentation .col2 p, #presentation .col2 img {
	flex: 1;
}
#presentation .col1 img {
	margin-top: 30px;
	opacity: 0.8;
}
#presentation .col2 img {
	margin-bottom: 30px;
	opacity: 0.7;
}

/* PARCOURS ///////////////////////////////*/
h2 {
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	margin-bottom: 5%;
	color: #00ADB5;
}

#parcours {
	background-color: #ECF0F1;
	padding: 5% 0;
	text-align: justify;
}
/*MOSAIQUE fichier CSS mosaique.css*/


/*CAROUSSEL ////////////////////////////////*/
.caroussel {
	padding-top: 5%;
	margin-bottom: 10%;
}

.caroussel1 {
	margin-top: 5%;
}

.caroussel1 img {
	width: 100%;
}

input {
	visibility: hidden;
}

/**{margin:0;padding:0;-webkit-box-sizing:border-box;box-sizing:border-box}*/

/*****carrousel 3d avec navigation*****/

.caroussel_diapo1{
	position:relative;
	text-align:center;
	margin:0 auto;
}


.contenu_carou1 {
	text-align:left;
	width:500px;
	height:332px;
	margin:10px auto 40px auto;
	-webkit-perspective:5000px;
	perspective:5000px}


	.caroussel1{
		-webkit-transform-style:preserve-3d;
		transform-style:preserve-3d;
		position:relative;
		width:500px;
		height:332px;
		transition:1s}



		.caroussel1 a {
			position:absolute;
			outline:1px solid transparent;
			-webkit-backface-visibility:hidden;
			backface-visibility:hidden;
			transition:1s}

			.caroussel1 a{filter:blur(3px);-webkit-filter:blur(3px);opacity:.8}
			.caroussel1 a:nth-child(1){-webkit-transform:translate3d(0,0,450px) scale(.8);transform:translate3d(0,0,450px) scale(.8)}
			.caroussel1 a:nth-child(2){-webkit-transform:rotateY(52deg) translateZ(450px) scale(.8);transform:rotateY(52deg) translateZ(450px) scale(.8)}
			.caroussel1 a:nth-child(3){-webkit-transform:rotateY(104deg) translateZ(450px) scale(.8);transform:rotateY(104deg) translateZ(450px) scale(.8)}
			.caroussel1 a:nth-child(4){-webkit-transform:rotateY(156deg) translateZ(450px) scale(.8);transform:rotateY(156deg) translateZ(450px) scale(.8)}
			.caroussel1 a:nth-child(5){-webkit-transform:rotateY(208deg) translateZ(450px) scale(.8);transform:rotateY(208deg) translateZ(450px) scale(.8)}
			.caroussel1 a:nth-child(6){-webkit-transform:rotateY(260deg) translateZ(450px) scale(.8);transform:rotateY(260deg) translateZ(450px) scale(.8)}
			.caroussel1 a:nth-child(7){-webkit-transform:rotateY(312deg) translateZ(450px) scale(.8);transform:rotateY(312deg) translateZ(450px) scale(.8)}
			/*.caroussel1 img:nth-child(8){-webkit-transform:rotateY(315deg) translateZ(450px) scale(.8);transform:rotateY(315deg) translateZ(450px) scale(.8)}*/

			.caroussel_diapo1 input[type=radio] + label {
				cursor:pointer;
				background:#9e9e9e;
				display:inline-block;
				width:20px;
				border-radius:50%;
				height:20px}

				.caroussel_diapo1 input[type=radio]:checked + label{background:#00ADB5}

				.caroussel_diapo1 label{background:#00ADB5}



				.caroussel_diapo1 input[name="rotation"]:checked ~ .contenu_carou1 .caroussel1 a:nth-child(n){filter:drop-shadow(12px 12px 7px hsla(0,0%,0%,.5))}

				/*gauche*/
				.caroussel_diapo1 #carou_un:checked ~ .contenu_carou1 .caroussel1{-webkit-transform:translateZ(-450px);transform:translateZ(-450px)}
				.caroussel_diapo1 #carou_deux:checked ~ .contenu_carou1 .caroussel1{-webkit-transform:translateZ(-450px) rotateY(-52deg);transform:translateZ(-450px) rotateY(-52deg)}
				.caroussel_diapo1 #carou_trois:checked ~ .contenu_carou1 .caroussel1{-webkit-transform:translateZ(-450px) rotateY(-104deg);transform:translateZ(-450px) rotateY(-104deg)}
				.caroussel_diapo1 #carou_quatre:checked ~ .contenu_carou1 .caroussel1{-webkit-transform:translateZ(-450px) rotateY(-156deg);transform:translateZ(-450px) rotateY(-156deg)}
				.caroussel_diapo1 #carou_cinq:checked ~ .contenu_carou1 .caroussel1{-webkit-transform:translateZ(-450px) rotateY(-208deg);transform:translateZ(-450px) rotateY(-208deg)}
				.caroussel_diapo1 #carou_six:checked ~ .contenu_carou1 .caroussel1{-webkit-transform:translateZ(-450px) rotateY(-260deg);transform:translateZ(-450px) rotateY(-260deg)}
				.caroussel_diapo1 #carou_sept:checked ~ .contenu_carou1 .caroussel1{-webkit-transform:translateZ(-450px) rotateY(-312deg);transform:translateZ(-450px) rotateY(-312deg)}
				/*.caroussel_diapo1 #carou_huit:checked ~ .contenu_carou1 .caroussel1{-webkit-transform:translateZ(-450px) rotateY(-315deg);transform:translateZ(-450px) rotateY(-315deg)}*/


				/*droite*/
				.caroussel_diapo1 #carou_un:checked ~ .contenu_carou1 .caroussel1 a:nth-child(1){-webkit-transform:translateZ(350px) scale(1);transform:translateZ(450px) scale(1);opacity:1}
				.caroussel_diapo1 #carou_deux:checked ~ .contenu_carou1 .caroussel1 a:nth-child(2){-webkit-transform:rotateY(52deg) translateZ(450px) scale(1);transform:rotateY(52deg) translateZ(450px) scale(1);opacity:1}
				.caroussel_diapo1 #carou_trois:checked ~ .contenu_carou1 .caroussel1 a:nth-child(3){-webkit-transform:rotateY(104deg) translateZ(450px) scale(1);transform:rotateY(104deg) translateZ(450px) scale(1);opacity:1}
				.caroussel_diapo1 #carou_quatre:checked ~ .contenu_carou1 .caroussel1 a:nth-child(4){-webkit-transform:rotateY(156deg) translateZ(450px) scale(1);transform:rotateY(156deg) translateZ(450px) scale(1);opacity:1}
				.caroussel_diapo1 #carou_cinq:checked ~ .contenu_carou1 .caroussel1 a:nth-child(5){-webkit-transform:rotateY(208deg) translateZ(450px) scale(1);transform:rotateY(208deg) translateZ(450px) scale(1);opacity:1}
				.caroussel_diapo1 #carou_six:checked ~ .contenu_carou1 .caroussel1 a:nth-child(6){-webkit-transform:rotateY(260deg) translateZ(450px) scale(1);transform:rotateY(260deg) translateZ(450px) scale(1);opacity:1}
				.caroussel_diapo1 #carou_sept:checked ~ .contenu_carou1 .caroussel1 a:nth-child(7){-webkit-transform:rotateY(312deg) translateZ(450px) scale(1);transform:rotateY(312deg) translateZ(450px) scale(1);opacity:1}
				/*.caroussel_diapo1 #carou_huit:checked ~ .contenu_carou1 .caroussel1 img:nth-child(8){-webkit-transform:rotateY(315deg) translateZ(450px) scale(1);transform:rotateY(315deg) translateZ(450px) scale(1);opacity:1}*/

/*COMPETENCES ////////////////////////////////*/
#competences {
  display: flex;
  flex-direction: column;
  background-color: #ECF0F1;
  padding: 5% 0;
}

h4 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 1em;
  text-align: center;
}

#competences .web {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#competences .pictos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  padding: 20px;
  flex-wrap: wrap;
}
#competences .ligne1{
  border-top: solid 1px black;
}

#competences .pao {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;

}

.element {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 4%;
}

#competences img {
  filter: grayscale(100%);
}
#competences img:hover {
  filter: none;
}

#competences .pao img {
  width: 80px;
}

#competences .web img {
  width: 70px;
}

/*SAVOIR FAIRE //////////////////////////////*/
/*#savoir {
  display: flex;
  flex-direction: column;
}*/

.savoir {
  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;*/
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /*height: 250px;*/
  height: 25%;
}

.savoirCol {
  /*display: flex;
  flex-direction: column;
  width: 28%;
  text-align: justify;*/
  display: flex;
  flex-direction: column;
  width: 28%;
  text-align: justify;
}

.savoirCol hr {
  margin-bottom: 15px;
}

.iconeCompetence{
  margin-bottom: 5%;
  height: 20%;
  filter: opacity(75%);
}


/*FOOTER ///////////////////////////////*/
footer {
  display: flex;
  flex-direction: column;
  background-color: #14171C;
  padding-top: 5%;
}

.footer_ligne {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 7%;
  /*align-items: center;*/
}

.footer_ligne:first-child {
  padding-bottom: 7%;
  border-bottom: 1px solid white;
}

.footer_col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

footer p {
  color: white;
  line-height: 1.5em;
}

footer p.bleu {
  color: #00FFF5;
  padding-bottom: 10px;
}

/*gestion partie droite*/
.footer_part1col2 a, .footer_part2col2 a{
  text-decoration: none;
  color: white;

}

.footer_part1col2 a:hover, .footer_part2col2 a:hover {
  color: #393E46;

}

/*gestion part 1 droite*/
.footer_part1col2 {
  display: flex;
  justify-content: space-between;
}

.footer_part1col2 a {
  text-align: center;
}

.footer_part1col2 a:nth-child(1) {
  border-right: 1px solid white;
  text-align: right;
  padding-right: 20%;
}

.footer_part1col2 a:nth-child(2) {
  border-right: 1px solid white;
  text-align: right;
  padding-right: 20%;
}

.footer_part1col2 a:nth-child(3) {
  text-align: right;
}

/*partie 2 droite - alignement*/
.footer_part2col2 {
  text-align: right;
}

/*logos partenaires*/
.partenaire {
  width: 20%;
}

.partenaire img {
  width: 100%;
}

.partenaire:nth-child(1) {
  flex: 2.34;

}

.partenaire:nth-child(2) {
  flex: 2.77;
  padding: 0 5%;
}

.partenaire:nth-child(3) {
  flex: 1;
}

.partenaire:nth-child(4) {
  flex: 3.29;
  padding: 0 5%;
  /*filter: invert(1);*/
  /*background-color: white;*/
}

.partenaire:nth-child(5) {
  flex: 2;
}

/*mentions légales*/
.mentions {
  color: #00FFF5;
  width: 100%;
  text-align: center;
  font-size: 0.7em;
}
